---
import Base from "../../layouts/Base.astro";

const products = [
  {
    title: "product One",
    year: 2023,
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam veritatis dolorem rem praesentium dicta labore, at laudantium quisquam.",
    url: "https://example.com/",
  },
  {
    title: "product Two",
    year: 2022,
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam veritatis dolorem rem praesentium dicta labore, at laudantium quisquam.",
    url: "https://example.com/",
  },
  {
    title: "product Three",
    year: 2021,
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam veritatis dolorem rem praesentium dicta labore, at laudantium quisquam.",
    url: "https://example.com/",
  },
];

const title = "Products";
const description = "My products";
---

<Base title={title} description={description}>
  <section>
    <h1 class=" text-amber-700 mb-8 text-2xl font-medium tracking-tight">Products</h1>
    <div class="space-y-6">
      {
        products.map((product, index) => (
          <a
            href={product.url}
            target="_blank"
            rel="noopener noreferrer"
            class="block group hover:opacity-80 transition-opacity duration-200">
            <div class="flex flex-col">
              <div class="w-full flex justify-between items-baseline">
                <span class="text-black dark:text-white font-medium tracking-tight">
                  {product.title}
                </span>
                <span class="text-neutral-600 dark:text-neutral-400 tabular-nums text-sm">
                  {product.year}
                </span>
              </div>
              <p class="prose prose-neutral dark:prose-invert pt-3">
                {product.description}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Base>
