---
import Base from "../../layouts/Base.astro";
import Card from 'fulldev-ui/components/Card.astro'
import Link from "fulldev-ui/components/Link.astro";

const products = [
  {
    title: "product One",
    year: 2023,
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam veritatis dolorem rem praesentium dicta labore, at laudantium quisquam.",
    url: "https://example.com/",
    image:""
  },
  {
    title: "product Two",
    year: 2022,
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam veritatis dolorem rem praesentium dicta labore, at laudantium quisquam.",
    url: "https://example.com/",
    image:""
  },
  {
    title: "product Three",
    year: 2021,
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam veritatis dolorem rem praesentium dicta labore, at laudantium quisquam.",
    url: "https://example.com/",
    image:""
  },
];

const title = "Products";
const description = "My products";
---

<Base title={title} description={description}>
  <section>
    <h1 class="text-amber-600 mb-8 text-2xl font-medium tracking-tight">Products</h1>
    <div class="space-y-6">
      {
        products.map((product) => (
          <div class="block">
            <Card
              frame="panel"
              class={"bg-white dark:bg-zinc-900"}
              heading={product.title}
              text={product.description}
              image={{
                src: product.image,
                alt: product.title,
                class: "w-full h-48 object-cover rounded-t-lg",
                position: "cover"
              }}
            >
              <div class="mt-4 flex justify-between items-center">

                <Link
                  href={product.url}
                  underline="hover"
                  class="text-emerald-700 dark:text-ermald-300 text-sm"
                >
                {product.url}
                </Link>
              </div>
            </Card>
          </div>
        ))
      }
    </div>
  </section>
</Base>
